{
	"serversPerWorker": 30,
	"steamWebAPIKey": "ABCDEFGHIJKLNOPQRSTUVWYZ1234567890",
	"serverName": "*Valve*",
	"mapName": "pl_frontier_final",
	"playersInServer": [ "player1", "Player2", "RememberCaseSensitive" ],
	"extraOptions": {}
}
